<h3>Lista svih banki</h3>
<table class="table table-dark" *ngFor="let banka of listaBanki">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Poslovno ime</th>
      <th scope="col">Pib</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ banka.id }}</th>
      <td>{{ banka.poslovnoIme }}</td>
      <td>{{ banka.pib }}</td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deleteEntity(banka.id)">Izbrisi</button>
      </td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-warning" [routerLink]="['/novaBanka']" routerLinkActive="router-link-active" >Dodaj novu banku</button>